{% extends "base.html" %}

{% block head %}
    <style>
        .submit-button
        {
            background-color: aliceblue;
            border: 2px solid #2e3440;
            color: black;
            border-radius: 4px;
            transition-duration: 0.4s;
            margin-bottom: 5px;
            position: relative;
            left: 25px
        }

        .submit-button:hover
        {
            background-color: #2e3440;
            border: 2px solid aliceblue;
            color: aliceblue;
        }

        .form-actions
        {
            margin: 0
        }

        .form-control
        {
            width: 250px;
            margin: 2px;
            border-radius: 5px;
            background-color: aliceblue;
            border: 2px solid #2e3440;
        }

        .mail-form
        {
            background-color: aliceblue;
        }

    </style>
    <title>Письмо счастья</title>
{% endblock %}

{% block content %}
    <form class="mail-form" method="post">
        {% csrf_token %}
        <div class="form-actions">
            {{ form.as_p }}
        </div>
        <div class="form-actions">
            <button class="submit-button" type="submit">Получить письмо счастья</button>
        </div>
    </form>
{% endblock %}
