{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block head %}
    <title>Профиль {{ other_user.username }}</title>
{% endblock %}

{% block content %}
    <div style="margin: auto 0; text-align: center;">
        <h1>Профиль {{ other_user.username }}</h1>
        <img class="rounded-circle account-img" src="{{ other_user.profile.avatar.url }}" style="cursor: pointer;"/>
        <div style="text-align: center">
            <p style="word-wrap: break-word; width: 300px;">{{ other_user.profile.bio }}</p>
        </div>
        <a href="/friends/{{ other_user.username }}">
            <p>Список друзей</p>
        </a>
        {% if not friends and not friend_request %}
            <a href="/friendship/add_friend/{{ other_user.username }}">
                <button class="button" style="margin: 5px">Добавить в друзья</button>
            </a>
        {% elif not friends and friend_request == "them" %}
            <a href="/friendship/accept/{{ other_user.username }}">
                <button class="button" style="margin: 5px">Принять запрос дружбы</button>
            </a>
            <a href="/friendship/reject/{{ other_user.username }}">
                <button class="button" style="margin: 5px">Отклонить</button>
            </a>
        {% elif not friends and friend_request == "you" %}
            <a href="/friendship/cancel/{{ other_user.username }}">
                <button class="button" style="margin: 5px">Отменить запрос дружбы</button>
            </a>
        {% else %}
            <a href="/friendship/unfriend/{{ other_user.username }}">
                <button class="button" style="margin: 5px">Убрать из друзей</button>
            </a>
        {% endif %}
    </div>
{% endblock %}